
mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe {
  width: 330px;
  display: flex;
  flex-wrap:  wrap;
}

.game-field {
  width: 100px;
  height: 100px;
  /* margin: 8px; */
  line-height: 100px;
  font-size: 76px;
  border-style: solid;
  font-weight: bold;
}

.heading {
  margin: revert;
  text-align: center;
  /* border-top: 15px; */
  font-size: 56px;
}

.playing .game-field {
  cursor: pointer;
}

button, mat-slide-toggle {
  margin-bottom: 2rem;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

.human-move {
  background-color: #28c2bd;
}

.computer-move {
  background-color: #ae8ac8;
}

.mat-progress-spinner {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}